.box {
    margin: auto;
    width: 24rem;
    /*height: 10rem;*/
    /*background: rgba(0, 0, 0, 0.13);*/
    /*backdrop-filter: blur(20px);*/
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap; /* 允许图标换行 */
    align-items: flex-start;
}

.list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 6rem;
    aspect-ratio: 1/1;
    margin: 2rem 1rem 1rem 1rem;
    list-style: none;
    cursor: pointer;
    user-select: none;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1.5rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 12px 40px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, backdrop-filter 0.3s ease, box-shadow 0.3s ease; /* 添加过渡效果 */
}

.list:hover {
    transform: translateY(-0.4rem);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4), 0 15px 40px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(50px);
}

.list:hover > div {
    opacity: 1;
}

.imgIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
}

.imgIcon > div {
    font-size: 1.5rem;
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 0.7rem;
}

.imgIcon > img {
    width: 2.5rem;
    border-radius: 0.7rem;
}

.list span {
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
    cursor: default;
}

.list:last-child span {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
    font-family: "华文中宋", serif;
    transition: color 0.5s;
    font-size: 3rem;
    color: #030303;

}

.list:last-child:hover span {
    color: var(--primary);
}

.del {
    position: absolute;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
    color: #ffffff;
    top: 3px;
    right: 8px;
    font-family: "华文中宋", serif;
    opacity: 0;
    font-size: 1rem;
}

.list div span:hover {
    color: var(--primary);
}

@media (min-width: 640px) {
    /* 小型设备及以上 */
    .box {
        width: 40rem;
        /*height: 10rem;*/
    }

    .list {

        width: 8rem;
    }


    .imgIcon {
        margin: 0.5rem 0 0.7rem 0;
    }

    .imgIcon > div {
        width: 3rem;
    }

    .imgIcon > img {
        width: 3rem;
    }

    .list span {
        margin: 0 0 0.5rem 0;
        font-size: 1rem;
        cursor: default;
    }

    .list:last-child span {
        font-size: 4rem;
    }


    .del {
        top: 0;
        right: 8px;
        font-size: 1.5rem;
    }

}

@media (min-width: 1024px) {
    .box {
        margin: 30px auto auto;
        width: 50rem;
        /*height: 10rem;*/
    }

    .list {
        width: 8rem;
    }

    .imgIcon {
        margin: 0.5rem 0 1rem 0;
    }

    .imgIcon > div {
        width: 3.5rem;
    }

    .imgIcon > img {
        width: 3.5rem;
    }

    .list span {
        margin: 0 0 0.5rem 0;
        font-size: 1rem;
        cursor: default;
    }

    .list:last-child span {
        font-size: 5rem;
    }


    .del {
        top: 0;
        right: 8px;
        font-size: 1.5rem;
    }

}

.addItemFrom {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    z-index: 1000;
    margin: auto;
    border-radius: 1rem;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
}

.addItemFrom:hover {
    backdrop-filter: blur(40px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 12px 40px rgba(0, 0, 0, 0.2);
}

.addItemFrom div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.addItemFrom input {
    flex-grow: 1;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    backdrop-filter: blur(7px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.7rem;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.addItemFrom input:focus {
    border-color: var(--primary);
    outline: none;
}

.addItemFrom div button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: rgba(var(--colorRgb), 0.8);
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.hidden_animation {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-1rem) translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.3s ease, backdrop-filter 0.5s ease, box-shadow 0.5s ease;
}

.visible_animation {
    opacity: 1;
    transform: translateY(1rem) translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.3s ease, backdrop-filter 0.5s ease, box-shadow 0.5s ease;
}
