@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@property --primary {
    syntax: "<color>";
    initial-value: #49DFBE;
    inherits: true;
}

@property --accent-h {
    syntax: "<angle>";
    initial-value: 172;
    inherits: true;
}

@property --accent-s {
    syntax: "<percentage>";
    initial-value: 172;
    inherits: true;
}

@property --accent-l {
    syntax: "<percentage>";
    initial-value: 60%;
    inherits: true;
}

@layer base {
    :root {
        --accent-h: 172;
        --accent-s: 86%;
        --accent-l: 60%;
        --accent: var(--accent-h) var(--accent-s) var(--accent-l);
        --primary: hsl(var(--accent) / 70%);
    }
}

/*.text-primary {*/
/*    color: var(--primary);*/
/*}*/

/*.bg-primary {*/
/*    background-color: var(--primary);*/
/*}*/
